@using Microsoft.AspNetCore.Identity
@using EnterSchoolRegister.BLL.Entities

@model EnterSchoolRegister.ViewModels.EntitiesViewModels.CourseVm
@inject UserManager<User> UserManager

<div class="course-box" style="margin-bottom: 20px">
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <table class="table table-striped">
        <thead style="text-align: center;">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.NumberOfECTS)</th>
                <th>@Html.DisplayNameFor(model => model.LecturesHours)</th>
                <th>@Html.DisplayNameFor(model => model.LaboratoriesHours)</th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            <tr>
                <td>@Html.DisplayFor(model => model.Id)</td>
                <td>@Html.DisplayFor(model => model.NumberOfECTS)</td>
                <td>@Html.DisplayFor(model => model.LecturesHours)</td>
                <td>@Html.DisplayFor(model => model.LaboratoriesHours)</td>
            </tr>
        </tbody>
    </table>
    <br />
    <h6>Teacher's email: @Html.Display(UserManager.FindByIdAsync("" + Model.TeacherId).Result.UserName)</h6>
    <br />
    <h6>@Html.DisplayNameFor(model => model.Description)</h6>
    <div class="description" style="border: 0.5px solid black;">
        @Html.DisplayFor(model => model.Description)
    </div>
</div>
